

.brand-logo {
  margin-left: 15px;
}

.card {
  background-image: url("public/images/cachito.jpg");
}


.card .card-content .card-title {
  margin-bottom: 10px;
  background-image: url("public/images/cachito.jpg");

}

#search-row form {
  padding-top: 20px;
}

body {
  background-image: url("../images/Screen\ Shot\ 2020-06-02\ at\ 9.02.27\ AM.png");
  background-attachment: fixed;
}
  
  

  

