.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

body {
  background-image:
   url("../images/Screen\ Shot\ 2020-06-02\ at\ 9.02.27\ AM.png"),
   url("../images/cachito.jpg");
   background-position:
   top right, /* this positions the first image */
   bottom ; /* this positions the second image */
  background-repeat:
   no-repeat; /* this applies to both images */
   
}
  
  

  

body {
background-size: cover;
background-position: bottom;

}