<%- include('../partials/header'); %>
<h2>Add A Dog</h2>
<div class="row">
    <form class="col s12" action="/dogs/add" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <input id="dogName" name="name" type="text">
          <label for="dogName">Dog's Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="dogBreed" name="breed" type="text">
          <label for="dogBreed">Dog's Breed</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="dogAge" name="age" type="text">
          <label for="dogAge">Dog's Age</label>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="dogOwner" name="ownerName" type="text">
            <label for="ownerName">Owner Name</label>
          </div>


        <div class="row">
            <div class="input-field col s12">
              <input id="dogAddress" name="address" type="text">
              <label for="dogAddress">Address</label>
            </div>

            
            <form action="/dogs/ <%= dog._id %>/walks" method="POST">
              <label> time: </label>
                <select name="Walks">
                <option value="10min">10min</option>
                <option value="20min">20min</option>
                <option value="30min">30min</option>
                <option value="more">more</option>
                </select>
            <br></br> 
                <label> miles: </label>
                <select name="Walks">
                <option value="1mile">1mile</option>
                <option value="2miles">2miles</option>
                <option value="2+miles">2+miles</option>
                <option value="more">more</option>
                </select>
            </form>



           
      </div>
      <button class="btn waves-effect waves-light" type="submit">Add Dog
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
<%- include('../partials/footer'); %>